// APP
PORT=
API_URL=
CLIENT_URL=
ADMIN_EMAIL=

// DB
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# License DB
LICENSE_DB_HOST=
LICENSE_DB_PORT=5432
LICENSE_DB_USERNAME=
LICENSE_DB_PASSWORD=
LICENSE_DB_NAME=

# Current deployment license
LICENSE_NAME=

// Tokens
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

// Mail
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

// Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER_USERS=
CLOUDINARY_FOLDER_USERS_DOCUMENTS=
CLOUDINARY_FOLDER_DOCUMENTS=
CLOUDINARY_FOLDER_VACANCIES=
CLOUDINARY_FOLDER_PARTNERS=
